<%- include('header'); -%>

<section id='title'>
    <div>
        <span class="titleContainer"><span class="titleFirst">F</span><span class="titleChild">ood</span></span><span
            class="titleFirst">T</span><span class="titleChild">rack</span>
    </div>
</section>
<section id='homeWrapper' class='wrapper'>
    <p class="center">Lists food that you ate within 2 days</p>
    <% item.forEach(element => { %>
    <form action="/" method="post">
        <div class='itemContainer'>
            <div class='left'>
                <input type="checkbox" class="checkboxItem hide" name="removeItem" value="<%=element.food%>">
                <span><%=element.food%></span>
            </div>
            <div class="right">
                <% if (element.hour === 0) { %>
                <span class='left'>12 am</span>
                <% } else if (element.hour < 12){ %>
                <span class='left'><%=element.hour%> am</span>
                <% } else { %>
                <span class='left'><%=element.hour - 12%> pm</span>
                <% } %>
                <span class="right"><%=element.day%></span>
            </div>
        </div>
        <% }); %>
        <% if (Object.keys(item).length === 0) { %>
        <form action="/" method="post">
            <% } %>
            <div class='itemInputContainer'>
                <input class="" type="text" name="newItem" id='itemInput' placeholder="What went down must come down?"
                    autofocus autocomplete="off">
            </div>
            <div class='center padding'>
                <button type="submit" id='add' name='operation' value="true"><i class="fas fa-plus-circle"></i></button>
                <button type="submit" id='remove' name='operation' class="hide" value="false"><i
                        class="fas fa-minus-circle"></i></button>
            </div>
        </form>
        <a href="/logout">logout</a>
</section>

<%- include('footer'); -%>