<%- include('header'); -%>


<% item.forEach(element => { %>
<form action="/" method="post">
    <div>
        <input type="checkbox" name="removeItem" value="<%=element.food%>">
        <span><%=element.food%></span>
        <% if (element.hour < 12) { %>
        <span><%=element.hour%> am</span>
        <% } else { %>
        <span><%=element.hour%> pm</span>
        <% } %>
        <span><%=element.day%></span>
    </div>
    <% }); %>
    <% if (Object.keys(item).length === 0) { %>
    <form action="/" method="post">
        <% } %>
        <input type="text" name="newItem" placeholder="What went down to your stomach?" autofocus>
        <button type="submit" name='operation' value="true">Add</button>
        <button type="submit" name='operation' value="false">Remove</button>
    </form>

    <%- include('footer'); -%>